

$ligther-grey: #EEE;
$ligth-grey: #CCC;
$dark-grey: #333;
$darker-grey: #222;
$white: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgba($darker-grey, 0.8);
  font-size: 14px;
}

#app {
  @import "loader";
  display:flex;
  .flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
  }

  // table tr td{
  //   text-overflow: unset !important;
  //   overflow: visible !important;
  // }
  // table tr th{
  //   padding: 4px 0px 4px 24px !important;
  // }

  .active {
    color: #fff;
    background: #efd176;
    font-weight: bold;
  }

  h1 {
    color: $darker-grey;
    font-size: 1.5rem;
  }
  h2 {
    color: rgba($darker-grey, 0.9);
    font-size: 1rem;
  }

  nav {
    background-color: #3d3d3d;
    height: 100%;
    width:15%;
    .logo{
      background: $white;
      border: 1px solid #ddd;
      padding: 5px 0 3px;
      margin-bottom: 10px;
    }
    .nav
    {
      position: fixed;
      height: 100%;
      width:15%;
    }
    a {
      color: $ligther-grey;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: normal;
      padding: 1rem;
      display:block;
      font-size: 12px;
    }
  }
  input:invalid {
    box-shadow:none;
  }

  /*
   * It's also possible to overwrite the styles for certain validation rules.
   */
  input:required {
      box-shadow:none;
  }

  .container {
    flex-grow: 1;
    width:85%;
    display:flex;

    .card {
      text-align: left;
      margin: 1rem;
      padding: 2rem;
      box-shadow: 2px 2px 2px #BBB;
      border: 1px solid #EEE;
      width:100%;
      background: #f4f4f4;
    }
    .con{
      display: block;
      height: 100%;

      .loginform{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        form{
          background: #fff;
          padding: 20px;
          max-width: 350px;
          label{
            font-size: 13px;
          }
          }
        .loginfield,.submitbutton{display: block !important;}
        }
      }
  }

  footer {
    height: 1rem;
    padding: 1rem;
    background: #3d3d3d;
    color: $ligther-grey;

    span {
      float: left;
    }
    a {
      float: right;
      color: $ligth-grey;
    }
  }
}
